.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 0;
height: 35vh;
background-image: url(../assets/img/fondoColores.jpg);
background-repeat:no-repeat;
background-size: cover;

}

/* .container::before{
    background-image: url('../assets/icons/img_ondas01.svg');
    position: absolute;
    content: '';
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100%;
    width: 100%;

} */

.h1Final{
    color: var(--lines);
}

.h2Final{
    color: var(--lines);
}

.h3Final{
    color: var(--lines);
}

.link{
    color: var(--text);

}

.link:hover{
    color: var(--lines);
    text-decoration: underline;
}

