/* Presentation Section */
.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.presentation::after{
    background-image: url('../assets/icons/img_ondas01.svg');
    position: absolute;
    content: '';
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100%;
    width: 101%;
    bottom: -85px;
}

.presentationTitle{
    position: absolute; 
    top: 45%;
    right: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}


.h1{
 
    color: var(--main-title);
    font-family: "Great Vibes", cursive;
    font-size: 110px;
    line-height: 110px;
 
}

.h2{

    color: var(--second-title);
    text-align: center;
}

.h3{
    color: var(--second-title);
}

.h4{
    color: var(--second-title);
}

.arrowIcon{
    color: var(--icons);
    opacity: 100%;
    width: 40px;
    height: 40px;
    animation-name: arrow;
    animation-duration: 2s;
    position: relative;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    from {opacity:100%; top:0; width: 70%;}
    to {opacity: 0%; top: 20px; width: 50%;}
  }

  @media only screen and (max-width:480px) {
    .h1{
 
   
        font-size: 80px;
      
     
    }

    .presentationTitle{
        position: absolute; 
        top: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }
    

  }