*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
--color1: #ffbd87;
--color2: #ffd791;
--color3: #f7e8a6;
--color4: #d9e8ae;
--color5: #bfe3c0;

--main: #FFF4F1;
/* --secondary: #86253d;
--secondary-dark: rgb(88, 29, 44); */
--secondary:#F3FFF2;
--secondary-dark: #d2ded0;
--text: #231f20;
--lines: #d2b869;
--nude: #fff7e5;


  --main-title: #fff;
  --second-title: #fff;

  --special-title: #ffd791;
  --icons: #fff;
  --button: #bfe3c0;
  --button-text: #fff;
  --button-hover: #d9e8ae;
  --button-hover-text: #fff;

  --color-1: #3F3F3D;
    --color-2: #7D735D;
    --color-3: #BAA67C;
    --color-4: #E6C6A3;
    --color-5: #AF8566;
    --color-9: #E5E9D0;
    --color-6: #A86B1D;
    --color-7: #F7E586;
    --color-8: #E6B64B;
    --fuente-1: 'Parisienne', cursive;
    --fuente-2: 'Playfair Display', serif;
    --grosor-fuente-regular: 400;
    --grosor-fuente-bold: 700;
    
}

body {
  font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

}

html{
  -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

p{
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: var(--lines);
}

*, ::after, ::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color-5);
}

::-webkit-scrollbar-track {
  background: var(--color-4);
  border-radius: 10px;
}

@media only screen and (max-width:320px) {
  p{
      font-size: 12px
  }
  }

